.earth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; /* Adiciona um comportamento mais previsível ao layout */
  width: 100vw;
  height: 100vh; /* Ajuste para que a altura seja totalmente responsiva */
}

/* Tamanho da Terra em dispositivos menores */
@media (max-width: 767px) {
  .earth-container {
    --earth-size: 3;
    height: 50vh; /* Mantém o tamanho fixo em 50% da altura da viewport */
  }
}

/* Tamanho da Terra em tablets */
@media (min-width: 768px)  {
  .earth-container {
    --earth-size: 1.7;
    height: 100vh;
    width: 60vw;
  }
}


/* Tamanho da Terra em desktops */
@media (min-width: 1200px) {
  .earth-container {
    --earth-size: 3;
    height: 100vh; /* Garante que o componente ocupe toda a altura da viewport */
    width: 50vw;
  }
}
