.earth-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

@media (max-width: 767px) {
  .earth-container {
    --earth-size: 1.5;
    height: 50vh; /* Ajuste a altura para manter o tamanho fixo em telas menores */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .earth-container {
    --earth-size: 1.8;
    height: 60vh; /* Ajuste adequado para tablets */
  }
}

@media (min-width: 1025px) {
  .earth-container {
    --earth-size: 3;
    height: 70vh; /* Ajuste para desktops */
  }
}
