.earth-container {
  width: 100vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
  position: relative;
  overflow: hidden;
}



@media (max-width: 767px) {
  .earth-small {
    --earth-size: 1.5;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .earth-medium {
    --earth-size: 1.8;
  }
}

@media (min-width: 1025px) {
  .earth-large {
    --earth-size: 3;
  }
}
